<!DOCTYPE html>
<html>
    <head>
        <title>ISS Localisator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #map {
                height: 400px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <h1>ISS Localisator</h1>
        <hr/>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>