{% extends "Layout.html.twig" %}

{% block content %}

<h3>Current address</h3>
<p>{{ address }}</p>

<h3>Current location</h3>
<p>Latitude {{ location.latitude }}, Longitude {{ location.longitude }}</p>

<div id="map"></div>
<script>
  function initMap() {
    var uluru = {lat: {{ location.latitude }}, lng: {{ location.longitude }}};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEdn09oHdD16x4MW9PQ7P7heEMmN9n_O4&callback=initMap">
</script>


{% endblock %}